services:
  frontend:
    build: .
    command: npm run dev
    ports:
      - "3000:3000"
    env_file:
      - .env

  backend:
    build: .
    command: npm run dev:server
    ports:
      - "3001:3001"
    env_file:
      - .env
